<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TP ADS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TP ADS</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
AdMob Exemple
<ion-button shape="round"  color="primary" fill ="outline" (click)="showBannerAd()">
Afficher Ads Bannière</ion-button>

<ion-button shape="round"  color="primary" fill ="outline" (click)="showInterstitialAds()">
Afficher Ads Interstitiel</ion-button>

<ion-button shape="round"  color="primary" fill ="outline" (click)="showRewardVideoAds()">
Afficher Ads Vidéo de récompense</ion-button>
</ion-content>

</ion-content>
